@keyframes tomainPage {
}

.intropage{
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: 3s smooth;

}

.homepage-main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scroll-snap-align: start;

}

.introduct2me{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: start;

}

.next2page{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    scroll-snap-align: start;
    flex-direction: row;

}

.link-to-another{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scroll-snap-align: start;

}

.display-text {
  display: flex;
  justify-content: center;
  transition: 2s;
}

@keyframes showing {
  from {
    color: #d4d4d4;
    display: none;
  }
  to {
    color: #6b6b6b;
  }
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes cursor {
  50% {
    color: transparent;
  }
}

.homepage-main .welcome {
  font-size: 5em;
  text-align: center;
  letter-spacing: 5px;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  border-top: 0;
  display: inline-block;
  animation: typing 2s steps(30);
}

.underline {
  font-size: 5em;
  animation: cursor 0.5s step-end infinite alternate;
}

.description {
  font-size: 2em;
  width: 57%;
  animation: showing 3s steps(20) 2s;
}

@keyframes fadeItem {
  to {
    opacity: 1;
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: scale(1, 1) translate(0px, 0px);
  }

  30% {
    transform: scale(1, 1) translate(0px, 5px);
  }

  75% {
    transform: scale(1, 1) translate(0px, -5px);
  }

  100% {
    transform: scale(1, 1) translate(0px, 0px);
  }
}

.scroll-down {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  animation: fadeItem 0.5s ease-in 2.5s forwards;
  position: relative;
  top: 38vh;

}

.scroll-down-icon {
  padding: 5%;
  width: 50px;
  background: none;
  animation: bounce 1s infinite;
}

.intropage-description{
  padding: 2%;
  width: 45%;
  font-size: larger;

}

.intropage-profile{
  width: 15%;
  border-radius: 50%;
  background-color: black;
  
}

.information{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-bar{
  width: 80%;
  display: flex;
  justify-content: space-around;
  padding: 2.5% 8%;
}

.icon-item{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8%;
  background-color: rgb(112, 112, 112);
  border-radius: 15px;
  cursor: pointer;
  color: white;
  border: 2px rgb(107, 107, 107) solid;
  font-size: larger;

}

.icon-item:hover{
  background-color: rgb(255, 255, 255);
  color: black;
  transition: .8s;


}

.contact-icon{
  width: 50px;
  padding: 5%;
  background: transparent;
}

.profile-header{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(56, 56, 56);
  box-shadow: 0px 0px 4px 1px #474747;

}

.profile-name{
  background: transparent;
  padding: 5px 50px;
  margin-top: 5%;

}

.more-profile{
  display: flex;
  flex-direction: column;
  background: transparent;
  padding-left: 10%;
  justify-content: start;
  width: 100%;
  padding-top: 10%;

}

.header-click{
  background: transparent;
  padding: 25% 20px 0 20px;
  border: none;

}



.h2-header{
  background-color: transparent;
  padding: 5%;
  border-radius: 5px;
  cursor: pointer;
}


.hover-tab{
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}


.hover-tab:hover{
  background-color: #272727;
  text-decoration: underline;
  cursor: pointer;
}



.profile-data{
  display: flex;
  justify-content: center;
  width: 100%;

}

.question{
  font-size: 75px;
  font-weight: 700;
}

.link-item{
  margin: 3%;
  font-weight: 600;
  width: 50%;
}

.fixed-text{
  padding: 5%;
  max-height: 13vh;

}

.link-text{
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #474747;
  transition: .8s;

}

.link-text:hover{
  cursor: pointer;
  font-size: 80px;
  transition: .5s;
  color: #070707;

}



